<card-blog-posts-2014><y class="xs:px-4 xs:py-0 sm:px-8 md:px-8 shadow-lg"><y class="flex flex-wrap justify-start items-start"><y each="{ data in posts }"><y class="relative max-w-md m-2 bg-white rounded-lg overflow-hidden"><y class="absolute top-0 left-0 px-2 py-1 bg-charcoal-500 border-2 border-white rounded-lg"><y class="text-xs text-white font-semibold">{ data.date }</y></y><y class="absolute top-0 right-0 px-1"><i class="fab fa-facebook text-md"></i></y><y class="p-4 mt-6"><y class="text-sm depth-snug">{ data.content }</y></y><img class="h-64 w-full bg-gray-100 object-cover object-center overflow-hidden" src="{ data.image }" alt="{ data.content }"></y></y></y></y><style>/* color enhance */
    img {
      -webkit-filter: saturate(1.36) contrast(1) brightness(1) blur(0) !important
    }</style><script>export default {
      onMounted() {

        const self = this
        self.posts = []

        const url = './assets/data/blog-posts-2014.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.posts = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })
      }
    }</script></card-blog-posts-2014>