<image-avatar><y class="py-8"><a href="{ avatar.path }" title="{ avatar.name }" aria-label="{ avatar.name }" rel="noopener"><img class="adaptive { props.width } { props.height } object-cover object-center rounded-full overflow-hidden border-4 border-charcoal-400 (hover)border-gray-400 transistion duration-300 ease-in-out" src="{ avatar.imagelow }" data-src="{ avatar.imagehigh }" loading="lazy" alt="{ avatar.name }"></a></y><script>export default {

      avatar: {
        name: 'Lewis Low\'s Home',
        imagelow: 'assets/image/low/misc/me.png',
        imagehigh: 'assets/image/high/misc/me.png',
        path: '/'
      }

    }</script></image-avatar>