<button-social>

  <a href="{ props.url }"
     target="_blank"
     rel="noopener"
     title="">

    <y class="group p-2 mx-auto mt-10 w-full flex justify-center items-center font-titillium font-semibold text-charcoal-200 hover:text-white bg-white hover:bg-charcoal-400 shadow-dreamy rounded-md overflow-hidden select-none">

      <img class="block adaptive { props.iconsize } object-contain object-center invert-1 group-hover:invert-0"
         src="assets/image/low/misc/social/{ props.icon }"
         data-src="assets/image/low/misc/social/{ props.icon }"
         loading="lazy"
         alt="">

       <y class="pl-4 group-hover:text-white">

         <y class="text-sm uppercase">
           { props.title }
         </y>

       </y>

    </y>

  </a>

</button-social>