@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


@import 'base';
@import 'custom-style';
@import 'components/**/*.scss';

