Thumbs.db
Thumbs.db:encryptable

changelog.md

node_modules/*
helpers/grunt-tasks/node_modules/*
helpers/serve/node_modules/*
mods/iconfontier/node_modules/*

package-lock.json

.idea

*.DS_STORE
*.swp

dist/*
backup/*
