<card-github-projects><y class="mt-10 xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap xs:justify-start md:justify-start xs:items-start md:items-center"><y class="px-2 pb-4 text-md text-red-400" if="{ error }">Data is missing.</y><y each="{ pet in projects }"><a href="{ pet.url }" title="{ pet.title }" aria-label="{ pet.title }" target="_blank" rel="noopener"><y class="xs:max-w-md sm:max-w-full md:max-w-xs 2k:max-w-md m-2 hover:text-white bg-white hover:bg-charcoal-600 rounded shadow-lg overflow-hidden fx-fade-in"><y class="p-5"><y class="relative text-lg 2k:text-2xl font-semibold depth-loose pb-1">{ pet.title }<y class="absolute right-0 bottom-0"><i class="text-3xl 2k:text-4xl { pet.icon }"></i></y></y><y class="text-sm 2k:text-xl depth-snug pb-2">{ pet.desc }</y><y class="text-xs 2k:text-lg text-gray-700 hover:text-orange-600 depth-loose">{ pet.tech }</y></y></y></a></y></y><script>debug('~/card/github-projects.~', '')

    export default {
      onMounted() {

        const self = this
        self.projects = []

        const base = './assets/data'
        const url = base + '/github-projects.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.projects = data
                self.update()
                debug('~/card/github-projects.~', data)
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })
      }
    }</script></card-github-projects>