<card-skills><y class="js-scroll-reveal relative m-2 md:w-40 2k:w-auto"><y class="p-5 2k:p-8 bg-charcoal-200 border border-charcoal-200 rounded-lg shadow"><y class="text-lg 2k:text-3xl font-semibold text-gray-400 depth-tight pb-2">{ props.title }</y><y class="text-sm 2k:text-2xl text-gray-500 depth-tight">{ props.desc }</y></y></y><script>log('~/card/skills.~', '')

    export default {
      onMounted() {

        // see `assets/js/components/_scroll_reveal.js`
        ScrollReveal().reveal('.js-scroll-reveal')

      }
    }</script></card-skills>