<image-avatar>

  <y class="px-6 py-4">

    <a href="{ path }"
       title="{ name }"
       aria-label="{ name }"
       rel="noopener">

      <img class="adaptive { props.width } { props.height } rounded-full"
           src="{ imagelow }"
           data-src="{ imagehigh }"
           alt="{ name }">

    </a>

  </y>


  <script>
    log('~/image/avatar.~', '')

    export default {
      onMounted() {

        this.name = 'Loouis Low'
        this.imagelow = 'assets/image/low/misc/me.png'
        this.imagehigh = 'assets/image/high/misc/me.png'
        this.path = '/'
        this.update()

      }
    }
  </script>

</image-avatar>
