<social-discord>

  <y class="z-50 relative (group) { props.visibility } (lg)block (2k)block">

    <img class="adaptive { props.iconsize } object-contain object-center (hover)opacity-50 cursor-pointer select-none animation fade-in duration-3000 delay-2"
         src="assets/image/low/misc/social/{ props.icon }"
         data-src="assets/image/low/misc/social/{ props.icon }"
         loading="lazy"
         alt="{ props.title }">


    <y class="mr-px absolute top-0 right-0 hidden (group-hover)block">

      <a href="{ props.url }"
         target="_blank"
         rel="noopener noreferrer"
         title="">

        <y class="px-4 w-64 h-24 flex justify-center items-center font-titillium font-semibold text-charcoal-200 bg-white shadow-dreamy rounded-md overflow-hidden">

          <img class="block adaptive { props.iconsize } object-contain object-center invert-1 select-none"
             src="assets/image/low/misc/social/{ props.icon }"
             data-src="assets/image/low/misc/social/{ props.icon }"
             loading="lazy"
             alt="{ props.iconname }">

           <y class="pl-4">

             <y class="pb-1 text-md uppercase select-none">
               Join me at Discord
             </y>

             <y class="text-xs underline select-text">
               https://discord.gg/eVDJtnV
             </y>

           </y>

        </y>

      </a>

    </y>

  </y>


  <style>
    .font-titillium {
      font-family: 'Titillium Web', sans-serif;
    }
  </style>

</social-discord>