<social-icon-link>

  <span class="xs:pr-4 sm:pr-6 md:pr-6 2k:pr-10">
    <y class="flex justify-start items-start">
      <span each="{ profile in social }">

        <a class="cursor-pointer"
           href="{ profile.url }"
           title="{ profile.title }"
           target="_blank"
           rel="noopener">

          <img class="adaptive xs:mr-6 sm:mr-6 md:mr-6 2k:mr-6 xs:h-8 sm:h-8 md:h-8 2k:h-12 xs:w-8 sm:w-8 md:w-8 2k:w-12 object-contain object-center hover:opacity-50"
               src="{ profile.iconlow }"
               data-src="{ profile.iconhigh }"
               alt="{ profile.title }">

        </a>

      </span>
    </y>
  </span>


  <script>
    log('~/social/icon-link.~', '')

    export default {
      onMounted() {

        krunch.adaptiveImageLoader()

        const self = this
        self.social = []

        const url = './assets/data/social.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.social = data
                self.update()
                log('~/social/icon-link.~', data)
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      }
    }
  </script>

</social-icon-link>