<social-icon-link>

  <span class="xs:pr-4 sm:pr-6 md:pr-6 2k:pr-10"
        each="{ profile in social }">

    <a href="{ profile.url }"
       title="{ profile.title }"
       target="_blank"
       rel="noopener">

      <i class="{ profile.icon } xs:text-2xl md:text-3xl 2k:text-5xl hover:{ profile.color }">
      </i>

    </a>

  </span>


  <script>
    export default {
      onMounted() {

        const self = this
        self.social = []

        const url = './assets/data/social.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.social = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      }
    }
  </script>

</social-icon-link>