<social-twitter>

  <y class="shadow text-white font-sans">
    <a class="twitter-timeline"
       href="{ props.url }"
       data-height="{ props.height }"
       data-theme="{ props.theme }">

      <y>
        Loading Twitter posts...
      </y>

      <y>
        Try
        <a class="text-blue-600 underline"
           href="index.html"
           title="Refresh"
           aria-label="Refresh"
           target="_self"
           rel="noopener">
          refresh
        </a>
        the page again.
      </y>

    </a>
  </y>

</social-twitter>