<social-twitter>

  <y class="twitter-feed_ text-white font-sans rounded-lg shadow">

    <a class="twitter-timeline"
       href="{ props.url }"
       data-chrome="noheader nofooter noborders"
       data-tweet-limit="1"
       data-height="auto"
       data-theme="light">

      <y>
        Loading Twitter posts...
      </y>

      <y>
        Try
        <a class="text-blue-600 underline"
           href="index.html"
           title="Refresh"
           aria-label="Refresh"
           target="_self"
           rel="noopener">
          refresh
        </a>
        the page again.
      </y>

    </a>

  </y>


  <script>
    log('~/social/twitter.~', '')
  </script>

</social-twitter>