<button-hire-me><y class="z-10 xs:hidden lg:block 2k:block fixed { state.defaultButtonPosition } right-0"><a class="{ state.button } m-2 px-4 py-1 text-sm font-oswald font-semibold uppercase text-charcoal-500 hover:text-white bg-gray-100 hover:bg-blue-500 rounded-md shadow-dreamy-md cursor-pointer select-none" href="{ state.url }" target="_self" rel="noopener" title="Hire Me!" onclick="{ openMenu }">Hire Me</a></y><y class="z-40 { state.panel } fixed top-0 right-0 w-2/3"><y class="relative h-screen p-8 text-white bg-gray-100 rounded-l-lg shadow-lg backdrop-filter blur-6 bg-opacity-50 overscroll-contain"><y class="absolute top-1 right-1 { state.closeButton } m-2 px-4 py-1 text-sm font-oswald font-semibold uppercase text-white hover:text-charcoal-100 bg-charcoal-100 hover:bg-gray-200 rounded-md shadow-dreamy-sm cursor-pointer select-none" onclick="{ closeMenu }">Close</y><text-heading title=" " size="text-3xl 2k:text-4xl"></text-heading></y></y><style>:host {
      font-family: Poppins, Sans-Serif;
    }
    .font-oswald {
      font-family: Oswald, sans-serif;
    }</style><script>export default {

      state: {
        defaultButtonPosition: 'top-4',
        panel: 'hidden'
      },
      openMenu() {
        this.update({
          panel: 'block',
          button: 'hidden'
        })
      },
      closeMenu() {
        this.update({
          defaultButtonPosition: 'top-1',
          panel: 'hidden',
          button: 'block'
        })
      },

    }</script></button-hire-me>