<button-image><a class="relative xs:max-w-full sm:max-w-md md:max-w-xs lg:max-w-xs 2k:max-w-md lg:max-w-xs px-5 2k:px-6 py-4 2k:py-4 xs:text-center text-sm 2k:text-2xl text-gray-400 hover:text-white bg-indigo-800 hover:bg-charcoal-600 rounded-lg shadow-lg transition duration-200 ease-in-out block select-none" href="{ props.url }" title="{ props.tooltip }" target="_blank" aria-label="{ props.tooltip }" rel="noopener"><y class="flex justify-center items-center"><y><img class="saturate-enhance adaptive h-10 w-10 object-fit object-center rounded-full overflow-hidden" src="assets/image/low/misc/{ props.image }" data-src="assets/image/high/misc/{ props.image }" alt=""></y><y class="px-4 flex flex-col justify-start items-start"><y class="text-xs gap-wider">My Personality</y><y>{ props.text }</y></y></y></a><style>.saturate-enhance {
      filter: saturate(1.5);
    }</style><script>export default {
      onMounted() {

        krunch.adaptiveImageLoader()

      }
    }</script></button-image>