<card-blog-posts>

  <y class="relative xs:max-w-md sm:max-w-full md:max-w-xs m-2 bg-white rounded-lg shadow-lg overflow-hidden">

    <y class="absolute top-0 left-0 px-2 py-1 bg-charcoal-500 border-2 border-white rounded-lg">
      <y class="text-xs text-white font-semibold">
        { props.date }
      </y>
    </y>

    <y class="{ props.urloption } absolute top-0 right-0 mr-8 cursor-pointer">
      <a class="text-xs uppercase hover:underline"
         href="{ props.url }"
         title="View Project"
         target="_self"
         rel="noopener">
        View Project
      </a>
    </y>

    <y class="absolute top-0 right-0 px-1 cursor-pointer"
       title="Source: Facebook">
      <i class="fab fa-facebook text-md"></i>
    </y>

    <y class="p-5 mt-6">
      <y class="text-sm depth-snug">
        { props.content }
      </y>
    </y>

    <img class="h-auto w-full bg-gray-200 object-contain object-center overflow-hidden"
         src="{ props.image }"
         alt="{ props.content }">

  </y>

</card-blog-posts>