<card-blog-posts>

  <y class="relative { props.xsscreen } { props.smscreen } { props.mdscreen } 2k:max-w-lg xs:my-2 xs:mx-0 xs:-mx-2 lg:m-4 bg-charcoal-300 border border-charcoal-200 rounded shadow overflow-hidden">

    <y class="absolute top-1 left-1">
      <y class="inline-block px-2 py-1 2k:inline-block 2k:px-3 2k:py-2 text-xs 2k:text-lg text-gray-600 font-semibold select-none">
        { props.date }
      </y>
    </y>

    <y class="{ props.urloption } absolute top-1 right-1">
      <a class="inline-block px-2 py-1 2k:inline-block 2k:px-3 2k:py-2 text-xs 2k:text-lg text-charcoal-200 font-semibold bg-gray-500 hover:bg-gray-300 rounded select-none"
         href="{ props.url }"
         title="View Project"
         target="_blank"
         rel="noopener">
        Project
      </a>
    </y>

    <y class="p-4 mt-6 2k:mt-12">
      <y class="text-sm 2k:text-xl depth-snug">

        <misc-show-more
          textcolor="text-gray-300"
          inputid="{ props.inputid }"
          content="{ props.content }"
          labelid="{ props.labelid }">
        </misc-show-more>

      </y>
    </y>

    <y class="p-2 2k:h-64">
      <img class="adaptive { props.popimageid } { props.imageheight } 2k:h-full w-full object-cover object-center rounded shadow cursor-pointer transition duration-200 ease-in-out transform hover:scale-150 hover:-translate-y-6 overflow-hidden select-none"
           src="{ props.imagelow }"
           data-src="{ props.imagehigh }"
           data-title="{ props.imagetitle }"
           data-caption="{ props.imagecaption }"
           alt="{ props.content }">
    </y>

  </y>

</card-blog-posts>
