<card-experiences>

  <y class="flex flex-wrap justify-start items-stretch">
    <y class="flex-auto relative xs:max-w-lg sm:max-w-xl md:max-w-xs 2k:max-w-md m-2 bg-white rounded-lg shadow"
       each="{ work in experiences }">

      <y class="xs:block sm:block md:block static flex justify-center items-center">
        <y class="z-10 hover:absolute top-0 left-0 hover:bg-charcoal-400 w-full h-full overflow-hidden">
          <y class="flex hover:flex-col justify-start items-center cursor-pointer">

            <y class="h-24 2k:h-32 hover:h-40 w-full bg-cover bg-left-top bg-no-repeat shadow-lg fx-fade-in"
               style="background-image: url( { work.preview1 } )"
               title="{ work.previewTitle1 }">
            </y>

            <y class="h-24 2k:h-32 hover:h-40 w-full bg-cover bg-left-top bg-no-repeat shadow-lg fx-fade-in"
               style="background-image: url( { work.preview2 } )"
               title="{ work.previewTitle2 }">
            </y>

            <y class="h-24 2k:h-32 hover:h-40 w-full bg-cover bg-left-top bg-no-repeat shadow-lg fx-fade-in"
               style="background-image: url( { work.preview3 } )"
               title="{ work.previewTitle3 }">
            </y>

          </y>
        </y>
      </y>

      <y class="p-5">

        <y class="pb-1 flex justify-between items-center">

          <y class="text-lg 2k:text-2xl xs:truncate font-semibold depth-loose cursor-pointer"
             title="{ work.company }">
            { work.company }
          </y>

          <y class="text-sm 2k:text-lg text-gray-700 xs:truncate font-sans depth-loose cursor-pointer"
             title="{ work.date }">
            { work.date }
          </y>

        </y>

        <y class="pb-3 text-sm 2k:text-lg depth-snug">
          { work.desc }
        </y>

        <y class="pb-8 flex justify-start items-center">

          <y class="px-2 py-0 mr-2 text-xs 2k:text-md lowercase xs:truncate bg-gray-300 rounded-full">
            { work.status1 }
          </y>

          <y class="px-2 py-0 mr-2 text-xs 2k:text-md lowercase xs:truncate bg-gray-300 rounded-full">
            { work.status2 }
          </y>

          <y class="px-2 py-0 mr-2 text-xs 2k:text-md lowercase xs:truncate bg-gray-300 rounded-full">
            { work.location }
          </y>

        </y>

      </y>

      <y class="absolute right-0 bottom-0">

        <y class="{ work.occupyVisibility } p-2 text-sm 2k:text-md font-oswald uppercase text-white { work.occupyBgColor } border-2 border-white rounded-lg">
          { work.occupy }
        </y>

      </y>

      <y class="absolute left-0 bottom-0">

        <y class="p-2 text-sm 2k:text-md font-oswald uppercase text-white bg-charcoal-100 border-2 border-white rounded-lg">
          Project { work.project }
        </y>

      </y>

    </y>
  </y>


  <style>
    .font-oswald {
      font-family: Oswald, sans-serif;
    }
  </style>

  <script>
    export default {
      onMounted() {

        const self = this
        self.experiences = []

        const base = './assets/data'
        const url = base + '/experiences.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.experiences = data
                self.update()
              })
          })
          .catch(error => {
            self.error = error
            self.update()
          })
      }
    }
  </script>

</card-experiences>
