<card-experiences>

  <y class="flex flex-wrap justify-start items-stretch">
    <y class="flex-auto relative xs:max-w-full sm:max-w-xl md:max-w-xs 2k:max-w-lg xs:mx-2 xs:my-4 md:m-4 lg:m-4 2k:m-4 text-gray-400 bg-charcoal-200 border border-charcoal-200 rounded-lg"
       each="{ work in experiences }">

      <y class="p-1 static flex justify-center items-center">
        <y class="2k:mr-4 2k:mt-2 2k:-mb-4 flex justify-center items-center cursor-pointer">

          <image-preview-small
            previewpopup="pop-image-experiences"
            previewlow="{ work.preview1low }"
            previewhigh="{ work.preview1high }"
            previewtitle="{ work.previewTitle1 }">
          </image-preview-small>

          <image-preview-small
            previewpopup="pop-image-experiences"
            previewlow="{ work.preview2low }"
            previewhigh="{ work.preview2high }"
            previewtitle="{ work.previewTitle2 }">
          </image-preview-small>

          <image-preview-small
            previewpopup="pop-image-experiences"
            previewlow="{ work.preview3low }"
            previewhigh="{ work.preview3high }"
            previewtitle="{ work.previewTitle3 }">
          </image-preview-small>

        </y>
      </y>

      <y class="-mt-4 p-5 2k:p-8">

        <y class="pb-1 flex justify-between items-center">

          <y class="pr-2 text-lg 2k:text-3xl xs:truncate font-semibold depth-loose"
             title="{ work.company }">
            { work.company }
          </y>

          <y class="text-sm 2k:text-2xl text-gray-600 xs:truncate font-sans depth-loose"
             title="{ work.date }">
            { work.date }
          </y>

        </y>

        <y class="-mt-2 pb-2 text-sm 2k:text-2xl text-gray-600 font-oswald">
          { work.position }
        </y>

        <y class="2k:my-4 pb-10 text-sm 2k:text-xl depth-snug">

          <misc-show-more
            textcolor="text-gray-300"
            inputid="{ work.id }"
            content="{ work.desc }"
            labelid="{ work.id }">
          </misc-show-more>

        </y>

      </y>

      <y class="absolute left-2 bottom-2">

        <y class="p-2 2k:px-3 text-sm 2k:text-xl font-oswald font-semibold uppercase text-gray-400 bg-gray-700 rounded select-none">
          { work.project } Projects
        </y>

      </y>

      <y class="absolute right-0 bottom-0">
        <y class="pb-2 2k:pb-3 pr-2 flex justify-start items-center">

          <text-status
            status="{ work.status1 }">
          </text-status>

          <text-status
            status="{ work.status2 }">
          </text-status>

          <text-status
            status="{ work.location }">
          </text-status>

        </y>
      </y>

    </y>
  </y>


  <style>
    .font-oswald {
      font-family: Oswald, sans-serif;
    }
  </style>

  <script>
    export default {
      onMounted() {

        const self = this
        self.experiences = []

        const base = './assets/data'
        const url = base + '/experiences.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                if (isMobile.any()) { // item x limit for mobile device
                  data.length = 3
                  self.experiences = data
                  self.update()
                }
                else {
                  self.experiences = data
                  self.update()
                }
              })
          })
          .catch(error => {
            self.error = error
            self.update()
          })

      },
      onUpdated() {

        // see `assets/js/components/_image_popper.js`
        popup.imageTouchDevice('.pop-image-experiences')

        // lazyload low-res, hi-res image
        krunch.adaptiveImageLoader()

      }
    }
  </script>

</card-experiences>
