<card-github-projects>

  <y class="js-scroll-reveal mt-10 xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap xs:justify-start md:justify-start xs:items-start md:items-center">

    <y class="px-2 pb-4 text-md text-red-400"
      if="{ error }">
      Data is missing.
    </y>

    <y each="{ pet in projects }">

      <a href="{ pet.url }"
         title="Project: { pet.title }"
         aria-label="Project: { pet.title }"
         target="_blank"
         rel="noopener">

        <y class="group xs:max-w-md sm:max-w-full md:max-w-xs 2k:max-w-lg m-2 hover:text-white bg-white hover:bg-charcoal-600 rounded shadow overflow-hidden transition duration-100 ease">
          <y class="p-5 2k:p-8">

            <y class="relative text-lg 2k:text-3xl font-semibold depth-loose pb-1">

              { pet.title }

              <y class="absolute right-0 bottom-0">
                <img class="adaptive invert group-hover:invert mb-2 h-8 2k:h-12 w-auto object-contain object-center overflow-hidden"
                     src="assets/image/low/misc/social/github.png"
                     data-src="assets/image/high/misc/social/github.png"
                     alt="Github">
              </y>

            </y>

            <y class="text-sm 2k:text-2xl depth-snug pb-2">

              <misc-show-more
                inputid="{ pet.id }"
                content="{ pet.desc }"
                labelid="{ pet.id }">
              </misc-show-more>

            </y>

            <y class="text-xs 2k:text-xl text-gray-700 group-hover:text-white depth-loose">
              { pet.tech }
            </y>

          </y>
        </y>

      </a>

    </y>
  </y>


  <style>
    .invert{
      filter: invert(1.0);
    }
    .group:hover img.group-hover\:invert {
      filter: invert(0);
    }
  </style>


  <script>
    log('~/card/github-projects.~', '')

    export default {
      onMounted() {

        const self = this
        self.projects = []

        const base = './assets/data'
        const url = base + '/github-projects.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                if (isMobile.any()) { // item x limit for mobile device
                  data.length = 3
                  self.projects = data
                  self.update()
                }
                else {
                  data.length = 9
                  self.projects = data
                  self.update()
                }
                log('~/card/github-projects.~', data)
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      },
      onUpdated() {

        // lazyload low-res, hi-res image
        krunch.adaptiveImageLoader()

        // see `assets/js/components/_scroll_reveal.js`
        ScrollReveal().reveal('.js-scroll-reveal')

      }
    }
  </script>

</card-github-projects>