<card-github-projects>

  <y class="mt-10 xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap xs:justify-start md:justify-start xs:items-start md:items-center">

    <y class="px-2 pb-4 text-md text-red-400"
      if="{ error }">
      Data is missing.
    </y>

    <y class="flex-auto"
       each="{ pet in projects }">

      <a href="{ pet.url }"
         title="{ pet.title }"
         aria-label="{ pet.title }"
         target="_blank"
         rel="noopener">

        <y class="xs:max-w-md sm:max-w-full md:max-w-xs m-2 hover:text-white bg-white hover:bg-charcoal-600 rounded shadow-lg overflow-hidden">
          <y class="p-5">

            <y class="relative text-lg font-semibold depth-loose pb-1">

              { pet.title }

              <y class="absolute right-0 bottom-0">
                <i class="text-3xl { pet.icon }"></i>
              </y>

            </y>

            <y class="text-sm depth-snug pb-2">
              { pet.desc }
            </y>

            <y class="text-xs text-gray-700 hover:text-orange-600 depth-loose">
              { pet.tech }
            </y>

          </y>
        </y>

      </a>

    </y>
  </y>


  <script>
    export default {
      onMounted() {

        const self = this
        self.projects = []

        const base = './assets/data'
        const url = base + '/github-projects.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.projects = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })
      }
    }
  </script>

</card-github-projects>