<card-latest-posts>

  <y class="xs:px-4 xs:py-0 sm:px-8 md:px-8 shadow-lg">
    <y class="flex flex-wrap justify-start items-start">
      <y each="{ data in posts }">

        <y class="relative max-w-md m-2 bg-white rounded-lg overflow-hidden">

          <img class="h-64 w-full object-cover object-center overflow-hidden"
               src="{ data.image }">

          <y class="p-4">
            <y class="text-sm depth-snug pb-3">
              { data.content }
            </y>
          </y>

          <y class="absolute bottom-0 right-0 mx-4 my-2">
            <y class="text-xs opacity-75">
              { data.date }
            </y>
          </y>

        </y>

      </y>
    </y>
  </y>


  <script>
    export default {
      onMounted() {

        const self = this
        self.posts = []

        const url = './assets/data/blog-latest-posts.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.posts = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })
      }
    }
  </script>

</card-latest-posts>