<card-project-promos>

  <y class="px-2 pb-4 text-md text-red-400"
    if="{ error }">
    Data is missing.
  </y>

  <y class="xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap justify-start items-start">

    <y each="{ data in projects }">

      <y class="xs:max-w-full sm:max-w-full md:max-w-md lg:max-w-xs 2k:max-w-md m-2 2k:m-2 rounded-lg shadow overflow-hidden">
        <y class="relative select-none">

          <img class="adaptive pop-image-github-promo w-full h-full object-cover object-center overflow-hidden bg-gray-700 rounded-lg transition duration-300 ease-in-out transform hover:scale-110 cursor-pointer"
               src="{ data.imagelow }"
               data-src="{ data.imagehigh }"
               data-title="{ data.title }"
               data-caption="{ data.desc }"
               loading="lazy"
               alt="{ data.title}" />

          <y class="-mt-2 text-gray-500 bg-charcoal-200">

            <y class="xs:p-4 sm:p-10 md:p-8 lg:p-5 2k:p-8">
              <y class="flex flex-col justify-around items-start">

                <y class="pb-2 xs:text-md sm:text-xl md:text-lg 2k:text-2xl font-semibold depth-loose text-gray-400">
                  { data.title }
                </y>

                <y class="xs:text-sm sm:text-lg md:text-sm 2k:text-xl depth-snug pb-3">

                  <misc-show-more
                    textcolor="text-gray-500"
                    inputid="{ data.id }"
                    content="{ data.desc }"
                    labelid="{ data.id }"
                    textsize="text-xs 2k:text-lg">
                  </misc-show-more>

                </y>

                <y class="{ data.urlVisibility } xs:text-sm sm:text-lg md:text-sm 2k:text-xl depth-loose pb-2">

                  <a class="inline-block my-1 px-3 py-1 text-charcoal-200 bg-gray-500 hover:bg-gray-300 rounded-md select-none"
                     href="{ data.url }"
                     title="{ data.urlText }"
                     aria-label="{ data.urlText }"
                     target="_blank"
                     rel="noopener">

                    { data.PromoText }

                    <strong class="pl-1">
                      { data.urlText }
                    </strong>

                  </a>

                </y>

                <y class="xs:text-xs sm:text-md md:text-xs 2k:text-lg depth-loose">
                  { data.tech}
                </y>

              </y>
            </y>

          </y>

        </y>
      </y>

    </y>
  </y>


  <script>
    export default {
      onMounted() {

        const self = this
        self.projects = []

        const base = './assets/data'
        const url = base + '/project-promos.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                if (isMobile.any()) { // item x limit for mobile device
                  // data.splice(4,1) // remove `elixir` from array
                  // data.splice(-2,2) // remove `overloadproject` from array
                  data.length = 5
                  self.projects = data
                  self.update()
                }
                else {
                  data.splice(12,1) // remove `elixir` from array
                  data.splice(13,1) // remove `eizo-rewire-n` from array
                  data.splice(-1,2) // remove `overloadproject` from array
                  self.projects = data
                  self.update()
                }
              })
              .catch(error => {
                self.error = error
                self.update()
              })

          })

      },
      onUpdated() {

        // see `assets/js/components/_image_popper.js`
        popup.imageNotTouchDevice('.pop-image-github-promo')

        // lazyload low-res, hi-res image
        krunch.adaptiveImageLoader()

      }
    }
  </script>

</card-project-promos>
