<card-skills>

  <y class="relative m-2 md:w-40 2k:w-64">
    <y class="p-5 bg-white rounded-lg shadow">

      <y class="text-lg 2k:text-2xl font-semibold depth-tight pb-2">
        { props.title }
      </y>

      <y class="text-sm 2k:text-xl depth-tight">
        { props.desc }
      </y>

    </y>

    <y class="absolute right-0 bottom-0">

      <y class="px-2 py-1 2k:text-lg text-white bg-charcoal-500 border-2 border-white rounded-lg">
        { props.score }
      </y>

    </y>
  </y>

</card-skills>
