<card-skills>

  <y class="js-scroll-reveal relative m-2 md:w-40 2k:w-64">
    <y class="p-5 bg-white rounded-lg shadow">

      <y class="text-lg 2k:text-2xl font-semibold depth-tight pb-2">
        { props.title }
      </y>

      <y class="text-sm 2k:text-xl depth-tight">
        { props.desc }
      </y>

    </y>

  </y>


  <script>
    log('~/card/skills.~', '')

    export default {
      onMounted() {

        // see `assets/js/components/_scroll_reveal.js`
        ScrollReveal().reveal('.js-scroll-reveal')

      }
    }
  </script>

</card-skills>
