<card-terminal>

  <a href="https://www.npmjs.com/package/loouislow-resume"
     target="_blank"
     rel="noopener noreferrer"
     title="@npm repository">

    <y class="relative (xs)max-w-full (sm)max-w-md (md)max-w-xs (lg)max-w-xs (2k)max-w-md p-4 (2k)p-6 bg-gray-600 (hover)bg-charcoal-100 rounded-lg shadow cursor-pointer transition duration-200 ease-in-out">

      <y class="absolute top-1 right-2">
        <y class="text-gray-100 text-xs (2k)text-lg select-none">
          Terminal
        </y>
      </y>

      <y class="text-md (2k)text-2xl text-gray-100 flex justify-start items-center">
        <span class="pr-2 text-white font-semibold select-none">
          $
        </span>
        <span class="font-mono">
          { props.command }
        </span>
      </y>

    </y>

  </a>

</card-terminal>