<card-terminal>

  <y class="relative xs:max-w-md sm:max-w-md md:max-w-xs lg:max-w-xs 2k:max-w-xs p-4 bg-charcoal-800 hover:bg-charcoal-700 rounded-lg cursor-pointer fx-fade-in">

    <y class="absolute top-0 right-0 px-2 py-1">
      <y class="text-gray-700 text-xs">
        Terminal
      </y>
    </y>

    <y class="text-md text-gray-400 flex justify-start items-center">
      <span class="pr-2 text-green-600">
        $
      </span>
      <span>
        { props.command }
      </span>
    </y>

  </y>

</card-terminal>