<my-blog><y class="pt-4 pb-20 bg-charcoal-500" id="blog"><y class="md:px-10 md:h-full"><y class="xs:text-center sm:text-left md:text-left xs:pb-0"><text-heading title="Blog"></text-heading></y><y class="xs:px-4 xs:py-0 sm:px-8 md:px-8"><y class="flex flex-wrap justify-start items-center"><y each="{ data in posts }"><card-image-text image="{ data.image }" title="{ data.title }" date="{ data.date }"></card-image-text></y></y></y></y></y><style>:host {
      font-family: Poppins, Sans-Serif;
    }</style><script>export default {
      posts: [
        {
          image: 'assets/image/misc/no_physical_project_1.jpg',
          title: 'Lorem ipsum dolor sit amet',
          date: '24 NOV 2012'
        },
        {
          image: 'assets/image/misc/no_physical_project_1.jpg',
          title: 'Lorem ipsum dolor sit amet',
          date: '24 NOV 2012'
        },
        {
          image: 'assets/image/misc/no_physical_project_1.jpg',
          title: 'Lorem ipsum dolor sit amet',
          date: '24 NOV 2012'
        },
        {
          image: 'assets/image/misc/no_physical_project_1.jpg',
          title: 'Lorem ipsum dolor sit amet',
          date: '24 NOV 2012'
        },
        {
          image: 'assets/image/misc/no_physical_project_1.jpg',
          title: 'Lorem ipsum dolor sit amet',
          date: '24 NOV 2012'
        },
        {
          image: 'assets/image/misc/no_physical_project_1.jpg',
          title: 'Lorem ipsum dolor sit amet',
          date: '24 NOV 2012'
        }
      ]
    }</script></my-blog>