<blog-nostalgia>

  <y class="render-auto xs:-ml-2 lg:ml-2 pl-10 pb-12 fixed-scroll-width select-none">

    <y class="scrollbar-horizontal flex xs:flex-gap-6 lg:flex-gap-10 2k:flex-gap-10 scroll-snap x-mandatory align-start overflow-x-scroll overflow-y-hidden">

      <y each="{ data in nostalgia }">

        <y class="relative cursor-pointer">

          <y class="my-4 w-56 xs:w-64 2k:48 h-48 2k:56 bg-gray-700 rounded-md shadow-dreamy">

            <img class="adaptive w-full h-48 object-cover object-center overflow-hidden rounded-md"
                 src="{ data.imagelow }"
                 data-src="{ data.imagehigh }"
                 alt="{ data.content }">

          </y>

          <y class="my-2 text-sm text-gray-600 text-center font-oswald font-semibold uppercase">
            { data.date }
          </y>

          <y class="z-20 absolute top-0 left-0 opacity-0 hover:opacity-100 transition duration-100 ease-in-out">

            <y class="relative pt-2 pl-2 h-56">

              <y class="slim-scrollbar w-64 h-full text-sm 2k:text-md font-semibold depth-snug text-charcoal-100 bg-gray-500 rounded-lg shadow-dreamy-sm overscroll-y-contain overflow-y-scroll cursor-default">

                <y class="p-4 xs:text-sm lg:text-sm 2k:text-sm">
                  { data.content }
                </y>

              </y>

            </y>

          </y>

        </y>

      </y>

    </y>

  </y>


  <style>
    @media (min-width: 1024px) {
      .fixed-scroll-width {
        width: 990px
      }
    }
    @media (min-width: 1920px) {
      .fixed-scroll-width {
        width: 1380px
      }
    }
    .scrollbar-horizontal::-webkit-scrollbar-track {
      background-color: #192127
    }
    .slim-scrollbar::-webkit-scrollbar {
      width: 8px
    }
    .slim-scrollbar::-webkit-scrollbar-track {
      background-color: transparent
    }
    .slim-scrollbar::-webkit-scrollbar-thumb {
      background-color: #222c35
    }
    .font-oswald {
      font-family: Oswald, Sans-Serif
    }
  </style>


  <script>
    export default {
      onMounted() {

        const self = this
        self.nostalgia = []

        const url = 'assets/data/posts/nostalgia.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.nostalgia = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      },
      onUpdated() {

        krunch.adaptiveImageLoader()

      }
    }
  </script>

</blog-nostalgia>
