<blog-posts-2016><y class="relative xs:px-4 xs:py-0 sm:px-8 md:px-8"><y class="px-2 text-md text-red-400" if="{ error }">Data is missing.</y><text-year text="2016"></text-year><y class="absolute top-0 right-0 mt-2"><card-total-posts timeline="2016" timelineid="twoSixteen" bgcolor="bg-blue-700"></card-total-posts></y><y class="flex flex-wrap justify-start items-start"><y each="{ data in posts }"><card-blog-posts inputid="{ data.id }" labelid="{ data.id }" url="{ data.url }" urloption="{ data.urloption }" imagelow="{ data.imagelow }" imagehigh="{ data.imagehigh }" imageheight="64" popimageid="pop-image-2016" imagecaption="{ data.content }" content="{ data.content }" date="{ data.date }" xsscreen="md" smscreen="full" mdscreen="md"></card-blog-posts></y></y><misc-divider-bar opacity="75"></misc-divider-bar></y><script>log('~/block/blog/post-2016.~', '')

    export default {
      onMounted() {

        const self = this
        self.posts = []

        const base = './assets/data'
        const url = base + '/posts/2016.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.posts = data
                self.update()
                log('~/block/blog/post-2016.~', data)
                totalPosts('twoSixteen', data)
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      },
      onUpdated() {

        // see `assets/js/components/_image_popper.js`
        popup.imageTouchDevice('.pop-image-2016')

        // lazyload low-res, hi-res image
        krunch.adaptiveImageLoader()

      }
    }</script></blog-posts-2016>