<blog-posts-2016><y class="{ props.render }"><y class="render-auto-normal relative xs:px-4 xs:pt-16 xs:pb-0 sm:px-8 md:px-8 lg:px-0" id="2016"><y class="px-2 text-md text-red-400" if="{ error }">Data is missing.</y><text-year text="2016"></text-year><y class="sticky top-0 right-32 float-right"><card-total-posts timeline="2016" timelineid="twoSixteen" bgcolor="bg-blue-700"></card-total-posts></y><y class="flex flex-wrap justify-start items-start"><y each="{ data in posts }"><card-blog-posts inputid="{ data.id }" labelid="{ data.id }" url="{ data.url }" urloption="{ data.urloption }" projectstatus="{ data.projectstatus }" imagelow="{ data.imagelow }" imagehigh="{ data.imagehigh }" imageheight="h-64" popimageid="pop-image-2016" imagecaption="{ data.content }" content="{ data.content }" date="{ data.date }" xsscreen="xs:max-w-md" smscreen="sm:max-w-full" mdscreen="md:max-w-md"></card-blog-posts></y></y><misc-divider-bar opacity="75"></misc-divider-bar></y></y><script>export default {
      onMounted() {

        const self = this
        self.posts = []

        const base = './assets/data'
        const url = base + '/posts/2016.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.posts = data
                self.update()
                totalPosts('twoSixteen', data)
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      },
      onUpdated() {

        // see `assets/js/components/_image_popper.js`
        popup.imageNotTouchDevice('.pop-image-2016')

        // lazyload low-res, hi-res image
        krunch.adaptiveImageLoader()

      }
    }</script></blog-posts-2016>