<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">

    <title>
      Loouis Low
    </title>

    <meta name="description"
          content="My portfolio website">


    <!-- pwa -->
    <link rel="manifest"
          href="manifest.json">
    <!--// pwa -->


    <!-- prefetcher -->
    <link rel="dns-prefetch"
          href="//twitter.com">

    <link rel="dns-prefetch"
          href="//twimg.com">

    <link rel="dns-prefetch"
          href="//kit.fontawesome.com">

    <link rel="dns-prefetch"
          href="//drift.com">
    <!--// prefetcher -->


    <!-- favicon -->
    <meta name="msapplication-TileColor"
          content="#ffffff">

    <meta name="msapplication-TileImage"
          content="assets/image/favicon/ms-icon-144x144.png">

    <meta name="theme-color"
          content="#ffffff">

    <link rel="apple-touch-icon"
          sizes="57x57"
          href="assets/image/favicon/apple-icon-57x57.png">

    <link rel="apple-touch-icon"
          sizes="60x60"
          href="assets/image/favicon/apple-icon-60x60.png">

    <link rel="apple-touch-icon"
          sizes="72x72"
          href="assets/image/favicon/apple-icon-72x72.png">

    <link rel="apple-touch-icon"
          sizes="76x76"
          href="assets/image/favicon/apple-icon-76x76.png">

    <link rel="apple-touch-icon"
          sizes="114x114"
          href="assets/image/favicon/apple-icon-114x114.png">

    <link rel="apple-touch-icon"
          sizes="120x120"
          href="assets/image/favicon/apple-icon-120x120.png">

    <link rel="apple-touch-icon"
          sizes="144x144"
          href="assets/image/favicon/apple-icon-144x144.png">

    <link rel="apple-touch-icon"
          sizes="152x152"
          href="assets/image/favicon/apple-icon-152x152.png">

    <link rel="apple-touch-icon"
          sizes="180x180"
          href="assets/image/favicon/apple-icon-180x180.png">

    <link rel="icon"
          type="image/png"
          sizes="192x192"
          href="assets/image/favicon/android-icon-192x192.png">

    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="assets/image/favicon/favicon-32x32.png">

    <link rel="icon"
          type="image/png"
          sizes="96x96"
          href="/favicon-96x96.png">

    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="assets/image/favicon/favicon-16x16.png">
    <!--// favicon -->


    <!-- google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109094106-2"></script>
    <script>
      window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-109094106-2');
    </script>
    <!--// google analytics -->


    <!-- twitter -->
    <script async src="https://platform.twitter.com/widgets.js"
            charset="utf-8"></script>
    <!--// twitter -->


    <!-- !! default -->
    <script>
      document.getElementsByTagName("html")[0].className += " js";
    </script>

    <!-- if javascript not enabled then, use the fallback to load css -->
    <script>
      if('CSS'in window&&CSS.supports('color','var(--color-var)')){document.write('<link rel="stylesheet" rel="preload" as="style" media="all" href="assets/css/style.css">')}else{document.write('<link rel="stylesheet" rel="preload" as="style" media="all" href="assets/css/style-fallback.css">')}
    </script>

    <noscript>
      <link rel="stylesheet"
            href="assets/css/style-fallback.css">
    </noscript>
    <!--// !! default -->


  </head>

  <body class="h-screen antialiased bg-charcoal-500">

    <y class="relative">

      <!-- preloader -->
      <y class="h-screen flex justify-center items-center">
        <y>
          <img class="w-24 h-24 2k:w-40 2k:h-40 border-4 border-gray-400 rounded-full shadow-lg"
               src="assets/image/misc/me.png"
               title="Loouis Low">
        </y>
      </y>

      <!-- layout -->
      <y class="absolute top-0 left-0 w-full md:flex lg:flex xl:flex">

        <!-- nav (fixed) -->
        <y class="fixed">

          <global-main-menu></global-main-menu>

        </y>

        <!-- main content -->
        <y class="md:ml-40 lg:ml-40 2k:ml-64 h-screen w-screen">

          <block-home></block-home>

          <block-about></block-about>

          <block-experience></block-experience>

          <block-skills></block-skills>

          <block-pet-project></block-pet-project>

          <block-blog></block-blog>

          <block-contact></block-contact>

        </y>

        <!-- mobile (fixed) -->
        <y class="z-10 mb-16 absolute bottom-0 left-0">
          <y class="fixed">

            <global-mobile-menu></global-mobile-menu>

          </y>
        </y>

      </y>
      <!--// layout -->

    </y>


    <!-- !! default -->
    <script src="assets/js/scripts.min.js"></script>


    <!-- krunch: components to compile -->
    <script async data-src="components/global/main-menu.html"
            type="krunch"></script>
    <script async data-src="components/image/avatar.html"
            type="krunch"></script>
    <script async data-src="components/global/small-footer.html"
            type="krunch"></script>
    <script async data-src="components/global/mobile-menu.html"
            type="krunch"></script>
    <script async data-src="components/block/home.html"
            type="krunch"></script>
    <script async data-src="components/block/about.html"
            type="krunch"></script>
    <script async data-src="components/block/experience.html"
            type="krunch"></script>
    <script async data-src="components/block/skills.html"
            type="krunch"></script>
    <script async data-src="components/block/pet-project.html"
            type="krunch"></script>
    <script async data-src="components/block/blog.html"
            type="krunch"></script>
    <script async data-src="components/block/contact.html"
            type="krunch"></script>
    <script async data-src="components/card/github-projects.html"
            type="krunch"></script>
    <script async data-src="components/card/project-promos.html"
            type="krunch"></script>
    <script async data-src="components/card/skills.html"
            type="krunch"></script>
    <script async data-src="components/card/experiences.html"
            type="krunch"></script>
    <script async data-src="components/card/blog-posts.html"
            type="krunch"></script>
    <script async data-src="components/text/heading.html"
            type="krunch"></script>
    <script async data-src="components/text/paragraph.html"
            type="krunch"></script>
    <script async data-src="components/social/twitter.html"
            type="krunch"></script>
    <script async data-src="components/social/icon-link.html"
            type="krunch"></script>
    <script async data-src="components/button/large.html"
            type="krunch"></script>
    <script async data-src="components/button/ultra.html"
            type="krunch"></script>
    <script async data-src="components/icon/platform.html"
            type="krunch"></script>


    <!-- krunch: environment -->
    <script>
      (async function main() {
        await krunch.compile() // init compiler


        // add 3rd-party critical assets
        // into service worker
        // (!!) all local assets added by default
        const assets = [
          'https://platform.twitter.com/widgets.js',
          'https://loouislow81.github.io/old/assets/pdf/loouislow_resume_13_april_2019.pdf'
        ]
        krunch.addCache(assets)


        // mount components
        const components = 'global-main-menu, global-small-footer, global-mobile-menu, block-home, block-about, block-skills, block-experience, block-pet-project, blog-posts-latest, block-blog, block-contact, card-github-projects, card-project-promos, card-skills, card-experiences, card-blog-posts, text-heading, text-paragraph, social-twitter, social-icon-link, button-large, button-ultra, icon-platform, image-avatar'
        krunch.mount(components)


        const yelling = 'Goody day! Are you come here to hire me?'
        snicker.onLoad(yelling, 10000)

        network.probeConnection() // check connection

      }())
    </script>
    <!--// !! default -->

  </body>

</html>
