/*******************************************************************************
****** Portfolio
*******************************************************************************/

.grid-gallery {
	height: 2600px
}

.grid-gallery ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 10px 0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.grid-gallery figcaption span {
	display: block;
  margin: 0 0 25px;
  /*border-bottom: 3px solid #0ad;*/
  padding: 25px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

/*******************************************************************************
****** Grid
*******************************************************************************/

.grid-wrap {}

.grid {
	margin: 0 auto;
}

.grid li {
	position: relative !important;
	top: inherit !important;
	float: left;
	cursor: pointer;
	margin: 0 0 70px 0;
	width: 100%;
	box-shadow: 0px 0px 20px #252525;
}

.grid figure {
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 1;
}

.grid figcaption {
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	position: absolute;
	top: 0;
	opacity: 0;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	background-color: rgb(79, 79, 79);
	width: 100%;
	height: 100%;
}

.grid li:hover figcaption {
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	opacity: 1;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

.figcaption-details {
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
}

.figcaption-details img {
	display: inline !important;
	margin: 0 0 30px;
	width: 82px !important;
	height: 82px !important
}

/*******************************************************************************
****** SlideShow
*******************************************************************************/

.slideshow {
	-webkit-perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	perspective: 1000px;
	visibility: hidden;
	opacity: 0;
	z-index: 500;
	transition: opacity 0.5s, visibility 0s 0.5s;
	background: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slideshow-open .slideshow {
	-webkit-transition: opacity 0.5s;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s;
}

.slideshow ul {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0, 0, 150px);
	-webkit-transition: -webkit-transform 0.5s;
	transform: translate3d(0, 0, 150px);
	transform-style: preserve-3d;
	transition: transform 0.5s;
	width: 100%;
	height: 100%;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slideshow li {
	position: absolute;
	top: 42%;
	left: 50%;
	visibility: hidden;
	margin: -280px 0 0 -400px;
	width: 700px;
	height: 630px;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	-webkit-transition: opacity 0.3s;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s;
	background: rgba(0, 0, 0, 0.8);
	width: 116%;
	height: 116%;
	content: '';
}

.slideshow li.current:after {
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	border: 50px solid #3f3f3f;
	background: #3f3f3f;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-size: 200%;
	font-weight: 300;
}

.slideshow figcaption h3, .slideshow figcaption span {
	color: #818181;
}

/*******************************************************************************
****** Navigation
*******************************************************************************/

.slideshow nav span {
	position: fixed;
	z-index: 1000;
	cursor: pointer;
	padding: 3%;
	color: #818181;
	font-size: 2.2em;
	text-align: center;
}

.slideshow nav span:hover {
	color: #FFF
}

.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
	-webkit-transform: translateY(-50%);
	top: 50%;
	transform: translateY(-50%);
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	background-color: #3f3f3f;
	padding: 0.5em 0.7em;
	color: #818181;
}

.slideshow nav span.nav-close:hover {
	background-color: #FFF;
	color: #000
}

.icon:before, .icon:after {
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'FontAwesome';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
}

span.nav-prev {
	left: 50%;
	margin-left: -537px;
}

span.nav-prev:before {
	content: "\f053";
}

span.nav-next {
	right: 50%;
	margin-right: -537px;
}

span.nav-next:before {
	content: "\f054";
}

span.nav-close:before {
	content: "\f00d";
}
