<global-dmca-badge>

  <y>
    <a class="dmca-badge"
       href="{ dmcaurl }"
       title="{ dmcatitle }"
       rel="noopener">

      <img class="adaptive opacity-25"
           src="{ dmcaimagelow }"
           data-src="{ dmcaimagehigh }"
           alt="{ dmcatitle }">

    </a>
  </y>


  <script>
    export default {
      onMounted() {

        this.dmcaurl = 'www.dmca.com/Protection/Status.aspx?ID=8420ebc4-6520-4953-b2ac-e2d0e7b07ac0'
        this.dmcatitle = 'DMCA.com Protection Status'
        this.dmcaimagelow= 'assets/image/low/misc/dmca_badge.png'
        this.dmcaimagehigh = 'assets/image/high/misc/dmca_badge.png'
        this.update()

        krunch.adaptiveImageLoader()

      }
    }
  </script>

</global-dmca-badge>