<menu-bar>

  <y class="xs:hidden sm:hidden md:block w-40 h-screen bg-charcoal-500">
    <y class="static">

      <!-- avatar -->
      <y class="py-4">

        <image-avatar></image-avatar>

      </y>

      <!-- menus -->
      <y each="{ data in menus }">

        <a href="{ data.url }"
           title="{ data.title }"
           aria-lable="{ data.title }">

          <y class="px-6 py-2 text-md font-oswald uppercase text-left text-gray-500 hover:text-blue-600 hover:bg-charcoal-700 w-full">
            { data.title }
          </y>

        </a>

      </y>

      <!--footer-->
      <y class="absolute left-0 bottom-0">

        <small-footer></small-footer>

      </y>

    </y>
  </y>


  <style>
    .font-oswald {
      font-family: Oswald, sans-serif;
    }
  </style>


  <script>
    export default {
      onMounted() {

        const self = this
        self.menus = []

        const url = './assets/data/menu.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.menus = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.upate()
              })
          })

      }
    }
  </script>

</menu-bar>

