<global-mobile-blog-menu>

  <y class="xs:block sm:hidden md:hidden lg:hidden 2k:hidden w-screen select-none">
    <y class="h-24 p-0 border-t-2 border-charcoal-100 bg-charcoal-100 shadow-lg">

      <y class="flex flex-row justify-around items-center">
        <y each="{ data in menu }">

          <y class="px-0 py-3 h-16 w-16 hover:bg-blue-800 rounded">

            <a href="{ data.url }"
               title="{ data.title }"
               rel="noopener">

              <y class="flex flex-col justify-center items-center opacity-50">

                <img class="inline-block adaptive invert-1 w-6 h-full object-contain object-center hover:opacity-75"
                     src="{ data.iconlow }"
                     data-src="{ data.iconhigh }"
                     alt="{ data.title }">

                <y class="pt-px text-xs text-gray-100">
                  { data.title }
                </y>

              </y>

            </a>

          </y>

        </y>
      </y>

    </y>
  </y>


  <script>
    export default {
      onMounted() {

        const self = this
        self.menu = []

        const base = 'assets/data'
        const url = base + '/mobile-blog-menu.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.menu = data
                self.update()
                krunch.adaptiveImageLoader()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      }
    }
  </script>

</global-mobile-blog-menu>
