<settings-prefetcher><y class="h-screen bg-charcoal-500"><y class="p-10"><text-heading title="Settings" size="3xl 2k:text-4xl" padding="10"></text-heading><y class="flex flex-wrap justify-around items-center"><y class=""><y class="text-xl text-white depth-wide">Adaptive Prefetching</y><y class="text-xs text-white depth-wide"><span class="text-red-400 font-semibold">Warning!</span></y></y><y><y class="text-xl text-white hover:underline p-2 cursor-pointer" id="btnAdaptivePrefetchOn">On</y><y class="text-xl text-white hover:underline p-2 cursor-pointer" id="btnAdaptivePrefetchOff">Off</y></y></y></y></y><script>export default {
      onMounted() {

        const localStorageKey = 'TestSettings'
        const localStorageValue = 'isOnAdaptivePrefetch'
        const adaptivePrefetchEnable = 'btnAdaptivePrefetchOn'
        const adaptivePrefetchDisable = 'btnAdaptivePrefetchOff'

        triggerState(adaptivePrefetchEnable, localStorageKey, localStorageValue)

        triggerState(adaptivePrefetchDisable, localStorageKey, 'isOffAdaptivePrefetch')

        settingsTrigger(adaptivePrefetchEnable, adaptivePrefetchDisable, localStorageKey, localStorageValue)


        function triggerState(btnId, localStorageKey, localStorageValue) {
          document.getElementById(btnId)
            .addEventListener("click", function() {
              localStorage.removeItem(localStorageKey)
              localStorage.setItem(localStorageKey, localStorageValue)
              setTimeout(function() {
                window.location.reload()
              }, 1000)
            })
        }


        function settingsTrigger(idBtnOn, idBtnOff, localStorageKey, localStorageValue) {
          // if saved,
          if (localStorageValue === localStorage.getItem(localStorageKey)) {
            console.log('TEST: this option has enabled!', '')
            document.getElementById(idBtnOff).style.display = "block"
            document.getElementById(idBtnOn).style.display = "none"
            prefetcher()
          }
          // if not,
          if (localStorageValue !== localStorage.getItem(localStorageKey)) {
            log('TEST: this option is null', '')
            // set default
            localStorage.setItem(localStorageKey, 'isOffAdaptivePrefetch')
            document.getElementById(idBtnOn).style.display = "block"
            document.getElementById(idBtnOff).style.display = "none"
            // do nothing!
          }
        }

      }
    }</script></settings-prefetcher>