<settings-prefetcher><y class="p-2"><y class=""><y class=""><y class=""><y class="text-sm text-white depth-wide">Adaptive Prefetch</y><y class="text-sm text-white hover:underline p-2 cursor-pointer" id="btnAdaptivePrefetchOn">On</y><y class="text-sm text-white hover:underline p-2 cursor-pointer" id="btnAdaptivePrefetchOff">Off</y></y></y></y></y><script>export default {
      onMounted() {

        const localStorageKey = 'TestSettings'
        const localStorageValue = 'isOnAdaptivePrefetch'
        const adaptivePrefetchEnable = 'btnAdaptivePrefetchOn'
        const adaptivePrefetchDisable = 'btnAdaptivePrefetchOff'





        settingsTrigger(adaptivePrefetchEnable, adaptivePrefetchDisable, localStorageKey, localStorageValue)


        function triggerState(btnId, localStorageKey, localStorageValue) {
          document.getElementById(btnId)
            .addEventListener("click", function() {
              localStorage.removeItem(localStorageKey)
              localStorage.setItem(localStorageKey, localStorageValue)
              setTimeout(function() {
                window.location.reload()
              }, 1000)
            })
        }


        function settingsTrigger(idBtnOn, idBtnOff, localStorageKey, localStorageValue) {
          // if saved,
          if (localStorageValue === localStorage.getItem(localStorageKey)) {
            console.log('TEST: this option has enabled!', '')
            document.getElementById(idBtnOff).style.display = "block"
            document.getElementById(idBtnOn).style.display = "none"
                    triggerState(adaptivePrefetchDisable, localStorageKey, 'isOffAdaptivePrefetch')
            // prefetcher.on()
          }
          // if not,
          if (localStorageValue !== localStorage.getItem(localStorageKey)) {
            log('TEST: this option is null', '')
            // set default
            // localStorage.setItem(localStorageKey, 'isOffAdaptivePrefetch')
            document.getElementById(idBtnOn).style.display = "none"
            document.getElementById(idBtnOff).style.display = "block"
            triggerState(adaptivePrefetchEnable, localStorageKey, localStorageValue)
            // do nothing!
          }
        }

      }
    }</script></settings-prefetcher>