<block-about>

  <y class="md:h-screen bg-charcoal-500"
     id="about">

    <y class="xs:p-0 md:p-10">
      <y class="flex flex-wrap justify-start items-start">

        <y class="md:flex-1">

          <y class="xs:text-center sm:text-left md:text-left">

            <text-heading
              title="What I Am Doing Now"
              size="xl 2k:text-4xl"
              padding="10">
            </text-heading>

          </y>

          <y class="xs:px-6 sm:px-10 xs:w-screen sm:w-screen md:w-auto md:px-10">
            <social-twitter
              url="https://twitter.com/loouislow?ref_src=twsrc%5Etfw">
            </social-twitter>
          </y>

        </y>

        <y class="md:flex-1 text-white">

          <y class="xs:text-center sm:text-left md:text-left">

            <text-heading
              title="Prelude"
              size="xl 2k:text-4xl"
              padding="10">
            </text-heading>

          </y>

          <y class="xs:px-10">

            <text-paragraph
              class="2k:text-3xl 2k:depth-snug"
              text="I have worked in the low level/embedded domain for ten years. I primarily prototyping electronic applications and software engineering. UI design as secondary. I am now showing my love.">
            </text-paragraph>

            <text-paragraph
              class="2k:text-3xl 2k:depth-snug"
              text="I use Trello for managing my projects, tasks and collaboration. Github for versioning control. This allowed me to learn how to work independently, communicate with clients, personal accounting and gain a mastery in modern development tools.">
            </text-paragraph>

          </y>

          <y class="xs:px-10 pb-10">

            <button-large
              class="font-semibold"
              text="Download PDF Resume"
              tooltip="Last Updated: Apr 2019"
              url="https://loouislow81.github.io/old/assets/pdf/loouislow_resume_13_april_2019.pdf">
            </button-large>

          </y>

          <y class="xs:px-10 pb-5">

            <card-terminal
              command="npx loouislow-resume">
            </card-terminal>

          </y>

          <y class="xs:px-10 pb-10 text-xl">

            <y class="2k:text-3xl flex justify-start items-center">
              <y class="mr-2">
                <img class="h-6 w-6"
                   src="assets/image/misc/email.png"
                   alt="Email me">
              </y>
              <a class="hover:underline"
                 href="mailto://loouis@gmail.com"
                 title="Write to me">
                loouis@gmail.com
              </a>
            </y>

            <y class="pb-5 2k:text-3xl flex justify-start items-center">
              <y class="mr-2">
                <img class="h-6 w-6"
                   src="assets/image/misc/phone.png"
                   alt="Call me">
              </y>
              <y>
                +6016 4910454
              </y>
              <y class="ml-1">
                <img class="h-8 w-8 cursor-pointer"
                   src="assets/image/misc/social/whatsapp.png"
                   alt="WhatsApp"
                   title="I am on WhatsApp">
              </y>
            </y>

          </y>

        </y>

      </y>
    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>


  <script>
    log('~/block/about.~', '')
  </script>

</block-about>
