<block-blog>

  <y class="py-6 bg-charcoal-500"
     id="blog">

    <y class="md:px-10 md-h-full">

      <y class="xs:text-center sm:text-left md:text-left xs:pb-0">

        <text-heading
          title="Blog"
          size="3xl 2k:text-4xl"
          padding="10">
        </text-heading>

      </y>

      <y class="xs:px-4 xs:py-0 sm:px-8 md:px-8">

        <y class="px-2 text-md text-red-400"
           if="{ error }">
          Data is missing.
        </y>

        <y class="flex flex-wrap xs:justify-start md:justify-start xs:items-start md:items-start">

          <y each="{ data in posts }">

            <card-blog-posts
              url="{ data.url }"
              urloption="{ data.urlOption }"
              image="{ data.image }"
              imageheight="auto"
              content="{ data.content }"
              date="{ data.date }"
              xsscreen="md"
              smscreen="full"
              mdscreen="xs">
            </card-blog-posts>

          </y>

        </y>

        <y id="snickerBlogBtn">

          <button-ultra
            url="/blog.html"
            text="More"
            tooltip="Read more of my stories"
            option="_self">
          </button-ultra>

        </y>

      </y>

    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
    /* color enhance */
    img {
      -webkit-filter: saturate(1.36) contrast(1) brightness(1) blur(0) !important
    }
  </style>


  <script>
    log('~/block/blog.~', '')

    export default {
      onMounted() {

        const message = 'Hang on, taking you to my development stories...'
        snicker.onClick('snickerBlogBtn', message, 5000)

        const self = this
        self.posts = []

        const base = './assets/data'
        const url = base + '/posts/2020.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                data.length = 3  // limit post
                self.posts = data
                self.update()
                log('~/block/blog.~', data)
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      }
    }
  </script>

</block-blog>