<contact>

  <y class="py-6 h-screen bg-charcoal-500"
     id="contact">

      <y class="md:px-10 h-full flex flex-col justify-center items-center">

        <y class="md:hidden xs:mt-8 xs:mb-8 border-4 border-gray-400 rounded-full shadow-lg">
          <img class="w-24 h-24"
               src="assets/image/misc/me.png"
               title="Me">
        </y>

        <y class="md:hidden pb-2 xs:text-xl sm:text-2xl md:text-4xl text-white font-semibold">
          Hey,
        </y>

        <y class="md:hidden pb-6 xs:text-xl sm:text-2xl md:text-2xl text-white">
          I am almost everywhere...
        </y>

        <y class="pb-6 xs:text-xl sm:text-2xl md:text-3xl text-white">
          loouis@gmail.com
        </y>

        <y class="pb-6 xs:text-xl sm:text-2xl md:text-3xl text-white">
          +6016 4910 454
          <i class="text-green-500 text-md cursor-pointer fab fa-whatsapp"
             title="I am on WhatsApp"></i>
        </y>

        <y class="pb-10 text-white">
          <social-icon-link
            class="font-normal">
          </social-icon-link>
        </y>

    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>

</contact>
