<block-contact>

  <y class="z-10 relative h-screen"
     id="contact">

    <img class="adaptive h-full w-full object-cover object-left-top overflow-hidden"
         src="assets/image/low/slide/slide_01.jpg"
         data-src="assets/image/high/slide/slide_01.jpg"
         alt="Me">

    <y class="absolute top-0 left-0">
      <y class="flex justify-between items-center">

        <y class="xs:p-8 sm:p-10 md:p-32 xs:text-2xl sm:text-4xl md:text-5xl 2k:text-6xl text-white font-extrabold hero-intro">

          <y class="md:hidden xs:pb-8">
            <img class="adaptive w-24 h-24"
                 src="assets/image/low/misc/me.png"
                 data-src="assets/image/high/misc/me.png"
                 title="Me">
          </y>

          <y class="xs:pb-4 md:pb-4 depth-tight">
            loouis@gmail.com
          </y>

          <y class="xs:pb-4 flex justify-start items-center">

            <y>
              +6016 4910454
            </y>

            <y class="ml-1">
              <img class="adaptive xs:h-8 sm:h-10 md:h-16 2k:h-20 xs:w-8 sm:w-10 md:w-16 2k:w-20 cursor-pointer"
                 src="assets/image/low/misc/social/whatsapp.png"
                 data-src="assets/image/high/misc/social/whatsapp.png"
                 alt="I am on WhatsApp">
            </y>

          </y>

          <y class="mt-2">

            <social-icon-link></social-icon-link>

          </y>

        </y>

      </y>
    </y>

  </y>


  <style>
    .hero-intro {
      font-family: Poppins, sans-serif;
    }

    .hero-intro-2 {
      font-family: 'Titillium Web', sans-serif;
    }
  </style>


  <script>
    log('~/block/contact.~', '')

    export default {
      onMounted() {

        krunch.adaptiveImageLoader()

      }
    }
  </script>

</block-contact>
