<my-experience>

  <y class="bg-charcoal-300"
     id="experience">

    <y class="md:p-10 md:h-full">

      <y class="">

        <y class="xs:text-center sm:text-left md:text-left xs:pb-0">
          <text-heading
            title="Experience">
          </text-heading>
        </y>

        <y class="xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap xs:justify-center justify-center xs:items-center items-stretch">

          <card-nine-element></card-nine-element>

        </y>

      </y>

    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>

</my-experience>
