<pet-project>

  <y class="bg-charcoal-300"
     id="pet-projects">

    <y class="md:p-10 md:h-full">

      <y class="xs:text-center sm:text-left md:text-left xs:pb-0">
        <text-heading
          title="Pet Projects">
        </text-heading>
      </y>

      <card-image></card-image>

      <card-text></card-text>

      <button-ultra
        url="https://github.com/loouislow81?tab=repositories"
        text="More"
        tooltip="Visit more at my Github profile">
      </button-ultra>

    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>

</pet-project>
