<pet-project>

  <y class="z-20 bg-charcoal-600"
     id="pet-projects">

    <y class="p-10 h-full">

      <y class="px-6 pt-6 pb-0">

        <text-heading
          title="Pet Projects">
        </text-heading>

      </y>

      <card-image></card-image>
      <card-text></card-text>

      <button-ultra
        url="https://github.com/loouislow81?tab=repositories"
        text="More"
        tooltip="Visit more at my Github profile">
      </button-ultra>

    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>

</pet-project>
