<posts>

  <y class="pt-4 bg-charcoal-500">
    <y class="md:px-10 md:h-full">

      <y class="xs:text-center sm:text-left md:text-left xs:pb-0">

        <text-heading
          title="Micro Blog">
        </text-heading>

        <y class="px-10 -mt-4 -mb-6">

          <text-paragraph
            class="text-white"
            text="A short story of my thought to share with you, think of something I can inspiring you.">
          </text-paragraph>

        </y>

      </y>

      <blog-posts-2018
        id="2018">
      </blog-posts-2018>

      <blog-posts-2016
        id="2016">
      </blog-posts-2016>

      <blog-posts-2015
        id="2015">
      </blog-posts-2015>

      <blog-posts-2014
        id="2014">
      </blog-posts-2014>

      <blog-posts-2013
        id="2013">
      </blog-posts-2013>

      <blog-posts-2012
        id="2012">
      </blog-posts-2012>

    </y>
  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>

</posts>
