<block-posts>

  <y class="xs:pt-0 pt-4 pb-8 h-screen bg-charcoal-400 container">
    <y class="md:px-4 md:h-full">

      <y class="flex xs:flex-col md:flex-wrap xs:justify-start sm:justify-center md:justify-start xs:items-start md:items-start xs:pb-0">

        <a class="appearance-none"
           href="/"
           target="_self"
           rel="noopener"
           title="Home">

          <y class="relative md:hidden xs:m-2 xs:p-1 flex flex-row justify-start items-center border border-gray-700 focus:bg-gray-700 hover:bg-gray-700 rounded-full w-full">

            <img class="adaptive w-10 h-10 border-2 border-gray-500 hover:border-gray-100 rounded-full overflow-hidden"
                 src="assets/image/low/misc/me.png"
                 data-src="assets/image/high/misc/me.png"
                 title="Me">

            <y class="pl-2 text-md text-gray-500">
              Loouis Low
            </y>

          </y>

        </a>

        <y class="xs:mx-2 xs:mt-1 xs:pb-4 lg:mx-2 lg:my-4 2k:my-6">

          <y class="flex flex-gap-4 justify-start items-center">

            <y class="text-gray-100 text-4xl font-semibold font-oswald uppercase">
              BLOG
            </y>

            <text-paragraph
              class="xs:text-sm md:text-lg lg:text-lg 2k:text-2xl text-gray-500 depth-snug select-none"
              text="A short story of my thought to share with you, think of something I can inspiring you.">
            </text-paragraph>

          </y>

        </y>

      </y>

      <y class="lg:block 2k:block px-2 text-gray-100 text-xl xs:text-sm 2k:text-xl font-semibold">
        Feeling Nostalgia
      </y>

      <blog-nostalgia
        render="render-auto-wide">
      </blog-nostalgia>

      <y class="lg:block 2k:block xs:-mt-6 px-2 pb-2 text-gray-100 text-xl xs:text-sm 2k:text-xl font-semibold">
        Timeline
      </y>

      <blog-posts-2020
        render="render-auto-normal">
      </blog-posts-2020>

      <blog-posts-2019
        render="render-auto-normal">
      </blog-posts-2019>

      <blog-posts-2018
        render="render-auto-normal">
      </blog-posts-2018>

      <blog-posts-2017
        render="render-auto-normal">
      </blog-posts-2017>

      <blog-posts-2016
        render="render-auto-normal">
      </blog-posts-2016>

      <blog-posts-2015
        render="render-auto-normal">
      </blog-posts-2015>

      <blog-posts-2014
        render="render-auto-normal">
      </blog-posts-2014>

      <blog-posts-2013
        render="render-auto-normal">
      </blog-posts-2013>

      <blog-posts-2012
        render="render-auto-normal">
      </blog-posts-2012>

      <blog-posts-2011
        render="render-auto-normal">
      </blog-posts-2011>

    </y>
  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
    .font-oswald {
      font-family: Oswald, Sans-Serif;
    }
  </style>


  <script>
    export default {
      onMounted() {

        krunch.adaptiveImageLoader()

        const tour = 'Alright, welcome to my blackhole!'
        snicker.onLoad(tour, 5000)

        // Services restricted by
        // Cookies Consent Controller
        // googleAnalytics()
        // driftMessenger()

      }
    }
  </script>

</block-posts>
