<block-skills>

  <y class="render-auto-widest py-4"
     id="skills">

    <y class="pb-8 md:px-10 md:h-full">
      <y class="flex flex-col justify-start items-start">

        <y class="flex-1">

          <y class="xs:text-center sm:text-left md:text-left xs:pb-0">

            <text-heading
              class="text-white"
              title="Skills"
              size="text-3xl 2k:text-5xl"
              padding="p-10">
            </text-heading>

          </y>

          <y class="xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap xs:justify-start md:justify-start xs:items-center md:items-stretch 2k:items-center">

            <y class="px-2 pb-4 text-md text-red-400"
              if="{ error }">
              Data is missing.
            </y>

            <y each="{ potential in skills }">

              <card-skills
                title="{ potential.title }"
                desc="{ potential.desc }"
                score="{ potential.score }">
              </card-skills>

            </y>
          </y>

        </y>

        <y class="flex-1">

          <y class="xs:text-center sm:text-left md:text-left xs:pb-0">

            <text-heading
              class="text-white"
              title="Knowledge"
              size="text-3xl 2k:text-5xl"
              padding="p-10">
            </text-heading>

          </y>

          <y class="xs:px-4 xs:py-0 sm:px-8 md:px-8 flex flex-wrap xs:justify-start md:justify-start xs:items-center md:items-stretch 2k:items-center">

            <y class="px-2 pb-4 text-md text-red-400"
              if="{ error }">
              Data is missing.
            </y>

            <y each="{ superpower in knowledge }">

              <card-skills
                title="{ superpower.title }">
              </card-skills>

            </y>
          </y>

        </y>

      </y>

    </y>

  </y>


  <style>
    :host {
      font-family: Poppins, Sans-Serif;
    }
  </style>


  <script>
    export default {
      onMounted() {

        const self = this
        self.skills = []
        self.knowledge = []

        const base = './assets/data'
        const urlSkills = base + '/skills.json'
        const urlKnowledge = base + '/knowledge.json'

        fetch(urlSkills)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.skills = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

        fetch(urlKnowledge)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.knowledge = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      }
    }
  </script>

</block-skills>
