<global-blog-menu><y class="(xs)hidden (sm)hidden (md)block (lg)w-40 (2k)w-64 h-screen select-none"><y class="static flex flex-col flex-wrap justify-center items-center"><y class="flex justify-center items-center"><image-avatar width="(lg)w-16 (2k)w-32" height="(lg)h-16 (2k)h-32"></image-avatar></y><y class="-mt-4 px-6 (sm)h-104 (2k)h-full (sm)w-32 (2k)w-40 flex flex-wrap justify-center items-center overscroll-contain"><y each="{ data in menus }"><a href="{ data.url }" title="{ data.title }" aria-label="{ data.title }" rel="noopener"><y class="(2k)mx-4 px-4 (2k)px-6 py-2 (2k)py-3 text-md (2k)text-2xl font-oswald uppercase text-left text-charcoal-100 (hover)bg-white rounded transition duration-300 ease-in-out">{ data.title }</y></a></y></y><y class="absolute left-0 bottom-0"><global-small-footer></global-small-footer></y></y></y><style>.font-oswald {
      font-family: Oswald, sans-serif;
    }</style><script>export default {
      onMounted() {

        const self = this
        self.menus = []

        const url = './assets/data/blog-menu.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.menus = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.upate()
              })
          })

      }
    }</script></global-blog-menu>