<global-mobile-menu><y class="xs:block sm:hidden md:hidden lg:hidden 2k:hidden w-screen"><y class="h-24 p-2 bg-charcoal-400 shadow-lg"><y class="flex flex-row justify-around items-center"><y each="{ data in menu }"><y class="-mt-1 mb-2 p-4 text-center hover:bg-blue-800 rounded"><a href="{ data.url }" title="{ data.title }" rel="noopenner"><img class="invert-color h-18 w-18 object-contain object-center opacity-50 hover:opacity-75" src="{ data.icon }" alt="{ data.title }"></a></y></y></y></y></y><style>.invert-color {
      filter: invert(1.0);
    }</style><script>log('~/global/mobile-menu.~', '')

    export default {
      onMounted() {

        const self = this
        self.menu = []

        const base = 'assets/data'
        const url = base + '/mobile-menu.json'

        fetch(url)
          .then(res => {
            res.json()
              .then(data => {
                delete self.error
                self.menu = data
                self.update()
              })
              .catch(error => {
                self.error = error
                self.update()
              })
          })

      }
    }</script></global-mobile-menu>